WebGui/Service References/UICMessageSrv/messagesrv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="tns:TaskMessageRequestDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaskMessageRequestDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SendingAppKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SendingFunctionKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverList" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Applicant" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BccList" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AttachmentList" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="tns:ResponseDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="tns:ResponseResult" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResponseResult">
        <s:restriction base="s:string">
          <s:enumeration value="Ok" />
          <s:enumeration value="Fail" />
          <s:enumeration value="TimeOut" />
          <s:enumeration value="InternalServerError" />
          <s:enumeration value="NoRecord" />
          <s:enumeration value="NotImplemented" />
          <s:enumeration value="FailedToOprateDatabase" />
          <s:enumeration value="EntityNotFound" />
          <s:enumeration value="UnLogin" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Recall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecallResult" type="tns:ResponseDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResponseDto" nillable="true" type="tns:ResponseDto" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="RecallSoapIn">
    <wsdl:part name="parameters" element="tns:Recall" />
  </wsdl:message>
  <wsdl:message name="RecallSoapOut">
    <wsdl:part name="parameters" element="tns:RecallResponse" />
  </wsdl:message>
  <wsdl:message name="RecallHttpGetIn">
    <wsdl:part name="MessageId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RecallHttpGetOut">
    <wsdl:part name="Body" element="tns:ResponseDto" />
  </wsdl:message>
  <wsdl:message name="RecallHttpPostIn">
    <wsdl:part name="MessageId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RecallHttpPostOut">
    <wsdl:part name="Body" element="tns:ResponseDto" />
  </wsdl:message>
  <wsdl:portType name="MessageSrvSoap">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Recall">
      <wsdl:input message="tns:RecallSoapIn" />
      <wsdl:output message="tns:RecallSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MessageSrvHttpGet">
    <wsdl:operation name="Recall">
      <wsdl:input message="tns:RecallHttpGetIn" />
      <wsdl:output message="tns:RecallHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MessageSrvHttpPost">
    <wsdl:operation name="Recall">
      <wsdl:input message="tns:RecallHttpPostIn" />
      <wsdl:output message="tns:RecallHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageSrvSoap" type="tns:MessageSrvSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recall">
      <soap:operation soapAction="http://tempuri.org/Recall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageSrvSoap12" type="tns:MessageSrvSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recall">
      <soap12:operation soapAction="http://tempuri.org/Recall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageSrvHttpGet" type="tns:MessageSrvHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Recall">
      <http:operation location="/Recall" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageSrvHttpPost" type="tns:MessageSrvHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Recall">
      <http:operation location="/Recall" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageSrv">
    <wsdl:port name="MessageSrvSoap" binding="tns:MessageSrvSoap">
      <soap:address location="http://ws-dev.tpv-tech.com/UIC/messagesrv.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageSrvSoap12" binding="tns:MessageSrvSoap12">
      <soap12:address location="http://ws-dev.tpv-tech.com/UIC/messagesrv.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageSrvHttpGet" binding="tns:MessageSrvHttpGet">
      <http:address location="http://ws-dev.tpv-tech.com/UIC/messagesrv.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageSrvHttpPost" binding="tns:MessageSrvHttpPost">
      <http:address location="http://ws-dev.tpv-tech.com/UIC/messagesrv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>