TrackingEDI/Service References/TransferOperation/InboundTPVService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sct.servicecenterteam.com/WCFSample_V2_Stage/InboundTPVService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonClassLibrary.model.TPV" />
  <xs:import schemaLocation="http://sct.servicecenterteam.com/WCFSample_V2_Stage/InboundTPVService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonClassLibrary.model.Export.DC" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TPVInboundOrderWISE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonClassLibrary.model.TPV" minOccurs="0" name="data" nillable="true" type="q1:TPVInboundOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPVInboundOrderWISEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonClassLibrary.model.Export.DC" minOccurs="0" name="TPVInboundOrderWISEResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPVAllDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonClassLibrary.model.TPV" minOccurs="0" name="data" nillable="true" type="q3:TruckerInfomation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TPVAllDataResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommonClassLibrary.model.Export.DC" minOccurs="0" name="TPVAllDataResponseResult" nillable="true" type="q4:ArrayOfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>